<app-header></app-header>


<div class="mt-3 ml-3">
    <h3>Calculez votre consommation énergétique :</h3>
</div>

<form (ngSubmit)="onSubmit(consommation)" #consommation="ngForm">
    <div class="form-row ml-3 mt-5">
        <div class="form-group">
            <label for="conso">Vous connaissez votre consommation annuelle :</label>
            <input type="text" class="form-control" id="conso" placeholder="Ex : 6000 kWh">
        </div>
    </div>

</form>

    <div class="mt-5 ml-3">
        <span>Vous ne connaissez pas votre consommation annuelle : Merci de sélectionner dans le tableau ci-dessous les
            éléments correspondant à votre situation</span>
    </div>

    <div class="form-group mt-2 ml-3">
        
        <table class="mt-4">
            <caption>Consommation énergétique en fonction du type de chauffage en kWh</caption>   
            <thead>
                <tr>
                    <th>Isolation moyenne</th>
                    <th>Tout électrique</th>
                    <th>Pompe à chaleur</th>
                    <th>Chaudière Gaz et Fioul</th>
                    <th>Poële à granulés</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let consommation of consommations">
                    <td>{{ consommation.isolationmoyenne }}</td>
                    <td>{{ consommation.toutelectrique }}<input type="checkbox"></td>
                    <td>{{ consommation.pac }}<input type="checkbox"></td>
                    <td>{{ consommation.gaz }}<input type="checkbox"></td>
                    <td>{{ consommation.poele }}<input type="checkbox"></td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="mt-5 ml-3">
        <span>Estimation de votre consommation : </span>
        <div>0000 kWh</div>
    </div>



    <a routerLink='../register'><button type="submit" class="btn btn-light ml-3 mt-5">Valider</button></a>




<router-outlet></router-outlet>