/* Placement boutons sur toits */
button {
  width:110px;
	cursor:pointer;
}

#pente {
    position: absolute;
    top: 30%;
    left: 29%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: #00bfb0;
    border: none;
    color: white;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
  }

#plat {
    position: absolute;
    top: 39%;
    left: 71%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 50px;
    height: 50px;
    background-color: #00bfb0;
    border: none;
    color: white;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
  }

  /* Texte sur boutons */
  button:hover + span {
    display: block;
  }

  span.pente {
    position: absolute;
    top: 26%;
    left: 29%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: #00bfb0;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    border-radius: 10%;
    padding: 5px 8px;
  }

  span.plat {
    position: absolute;
    top: 35%;
    left: 71%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: #00bfb0;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    border-radius: 10%;
    padding: 5px 8px;
  }

